@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-websitekit-inner-spin-button {
  -websitekit-appearance: none;
  margin: 0;
}

input[type='number']::-websitekit-outer-spin-button {
  -websitekit-appearance: none;
  margin: 0;
}

button:disabled{
  @apply bg-gray-600 cursor-not-allowed hover:bg-gray-600;
}

.input-app {
  @apply block w-full rounded-md border border-gray-100 py-2 pl-10 text-sm outline-2 placeholder:text-gray-500;
}


